*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(129, 230, 230);
}
.box{
    background-color: white;
    width: 300px;
    height: 460px;
    margin: 20px;
    border-radius: 30px;
    overflow: auto  ;
    box-shadow: 0px 2px 10px aquamarine;

}
.box .photo{    
    height: 150px;
    width: 150px;
    margin: 20px auto;
}

.photo img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.header{
    text-align: center;
    font-size: 24px;
    margin: 20px; 
}
.info{
    text-align: center;
    margin: 20px;
    color: gray;
    font-size: 18px;  
}
.uni{
    text-align: center;
    margin: 20px;  
}
.icon{
    text-align: center;
    margin: 20px auto;
}
.btn{
    height: 50px;
    width: 200px;
    margin: 20px auto;
}
.btn button{
    height: 50px;
    width: 200px;
    background-color: black;
    color: white;
    border-radius: 30px;
    border: none;
}
