*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif; 
}
body{
    background-color: blue;
}
.card-btn{
    margin: 10px    ;
    height: 100px;
    width: 200px;
    border-radius: 10px;
    background-color: white;
    display: inline-block;
    position: relative;
}

.card-btn .name{
    margin: 10px;
    font-size: 16px;
}
.card-btn .price{
    margin: 10px;
    font-weight: bolder;
    font-size: 20px;
}
.card-btn .info{
    margin: 10px;
    font-size: 14px;
    margin: 10px;
}
.blue{
    color: rgb(0, 119, 255) ;
    font-weight: bold;
}
.red{
    color: rgb(177, 2, 2) ;
    font-weight: bold;
}
.card-btn .icon{
    font-size: 20px;
    padding: 4px;
    height: 30px;
    width: 30px;
    background-color: aqua;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: 5px;
}
